:focus {
  outline: none;
}

body {
  background-color: rgb(24, 23, 23);
  box-sizing: border-box;
  font-size: 16px;
}

button {
  margin: auto;
  width: 40%;
}

button:focus {
  outline: none;
}

label {
  margin: auto 2rem;
  width: 90%;
}

form .text-area-label textarea {
  height: 6rem;
  margin: 5px 0 20px;
  padding: 5px;
  resize: none;
  width: 80%;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 75px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.search-forms {
  align-items: flex-start;
  background-color: #495258;
  border: groove #b5b5b6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 70%;
  padding: 10px;
}

label > :first-child {
  margin: 20px 5px;
}

label .input-text-forms {
  display: block;
  margin: 5px 0 20px 5px;
  width: 90%;
}

.text-area-label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: #495258;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 15px;
  overflow: hidden;
  text-shadow: 1px 1px 0.5px black;
  width: 300px;
}

.movie-card:hover {
  text-shadow: 1.5px 1.5px 3px black;
  transform: scale(1.05);
}

.movie-card-image {
  max-height: 35%;
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: black;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 8px;
  text-shadow: 0.5px 0.3px 0.1px white;
}

.movie-card-storyline {
  font-size: 15px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
